body{
    background-image: radial-gradient(circle at 120.71% 50%, #ff70ff 0, #d562ff 16.67%, #8f50ff 33.33%, #3c3cf2 50%, #0028c1 66.67%, #001995 83.33%, #00006d 100%);
}
.mensaje p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 26.4px;
    color: white;
}
.informacion p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 680;
    line-height: 20.4px;
    color: white;
}
.info-herramientas p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 680;
    line-height: 20.4px;
    color: white;
}
#menuprincipal{
    width: 96%;
    height: 50px;
    padding: 0% 2%;

}
#menuprincipal li{
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#menuprincipal li:hover{
    background-color: rgba(34, 37, 206, 0.548);
}
#menuprincipal a{
    color: white;
    text-decoration: none;
}
.foto{
    float: right;
}