body{
    margin:0;
    padding:0;
    background-image: radial-gradient(circle at 120.71% 50%, #ff70ff 0, #d562ff 16.67%, #8f50ff 33.33%, #3c3cf2 50%, #0028c1 66.67%, #001995 83.33%, #00006d 100%);
}
.mensaje p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 26.4px;
    color: white;
}
.informacion p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 680;
    line-height: 20.4px;
    color: white;
}
.info-herramientas p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 680;
    line-height: 20.4px;
    color: white;
}

#menuprincipal{
    width: 65%;
    height: 60px;
    padding: 0% 2%;
    margin-left: 400px;
}
.logo{
    margin-right: 240px;
}
#menuprincipal li{
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 50px;
}
#menuprincipal li:hover{
    background-color: rgba(34, 37, 206, 0.548);
}
#menuprincipal a{
    color: white;
    text-decoration: none;

}
.foto{
    float: right;
    margin-right: 200px;
    margin-top: -230px;
}
.mensaje{

    margin-top: 200px;
    margin-left: 200px;
    width: 55%;
}
.informacion{

    margin-top: 100px;
    margin-left: 230px;
    width: 50%;
}
.principal{
    width: 100%;
}
.info-herramientas{
    text-align: center;
    margin-top: 250px;
    margin-left: 5px;

}
.info-herramientas img{
    margin-top: 10px;
    margin-left: -65px;
}
.iconos{
    margin-top: 100px;
    margin-left: 560px;
    color: white;
    width: 50%;
}

.imagen{
    border-radius: 50%;
}
.iconos img{
    margin-left: 10px;
}
h2{
    text-align: center;
}
.herramientas{

    width:100%;
    background-color: white;
}
.card{
    position: relative;
    margin-left: 50px;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .contenedor {
    padding: 2px 16px;
  }
